@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-gray-1: #fcfcfd;
  --color-gray-2: #f9f9fb;
  --color-gray-3: #eff0f3;
  --color-gray-4: #e7e8ec;
  --color-gray-5: #e0e1e6;
  --color-gray-6: #d8d9e0;
  --color-gray-7: #cdced7;
  --color-gray-8: #b9bbc6;
  --color-gray-9: #8b8d98;
  --color-gray-10: #80828d;
  --color-gray-11: #62636c;
  --color-gray-12: #1e1f24;
}

[data-theme="dark"] {
  --color-gray-1: #111;
  --color-gray-2: #191919;
  --color-gray-3: #222;
  --color-gray-4: #292929;
  --color-gray-5: #313131;
  --color-gray-6: #3a3a3a;
  --color-gray-7: #484848;
  --color-gray-8: #606060;
  --color-gray-9: #6d6d6d;
  --color-gray-10: #7a7a7a;
  --color-gray-11: #b3b3b3;
  --color-gray-12: #eee;
}

@layer base {
  body {
    background-color: var(--color-gray-1);
    padding: var(--padding-layout);
    font-size: 14px;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
